*
{
    box-sizing: border-box; /*bxbb shortcut*/
}


body
{
    background-color: #EAEAEA; /*bgc#90c7e3 shortcut */
    color: #555; /*c#fff shortcut*/
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa shortcut */
}
#wrapper
{
    background-color: #90c7e3;
    background-image: linear-gradient(to bottom, #fff, #90c7e3);
    border: 1px solid #003;
    box-shadow: 3px 3px 3px #333;
    margin: auto;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
}
header
{
    background-color: #08082C;/*bgc#002171 shortcut */
    background-image: url(images/sunset.jpg); /*bgi shortcut*/
    background-position: right; /*bgdp shortcut*/
    background-repeat: no-repeat; /*bgr shortcut*/
    background-size: contain;
    color: #fff; /*c#fff shortcut*/
    height: 120px; /*h60*/
    padding-top: 30px; /*pt15*/
    text-align: center; /*tac*/
}

header a
{
    text-decoration: none; /*tdn*/
}

header a:link, header a:visited
{
    color: #fff;
}

header a:hover
{
    color: #90c7e3;
}

nav
{
    float: left;
    /*font-size: 120%*/
    font-weight: bold;
    padding: 1.5em 0.5em;
    width: 160px;
}

main
{
    background-color: #fff; /*bfc#fff*/
    margin-left: 190px; /*ml190*/
    padding: 1px 20px 20px 30px;
    display: block;
    overflow: auto; /*ova*/
}

section
{
    float: left; /* fl */
    padding-left: 2em; /*pl2em*/
    padding-right: 2em; /*pr2em*/
    width: 33%; 
}

nav ul
{
    font-size: 1.2em; /*fz1.2em*/
    list-style-type: none; /*listn*/
    margin: 0; /*m*/
    padding-left: 0; /*pl0*/

}

nav a 
{
    text-decoration: none; /*txd shortcut*/
}

nav a:link
{
    color: #5c7fa3;
}

nav a:visited
{
    color: #344874;
}

nav a:hover
{
    color: #a52a2a; 
}

main
{
    padding: 1px 20px 20px;
    display: block;
}

h1 
{
    font-size: 3em; /*fz3em*/
    letter-spacing: 0.25em; /* lts.25em*/
    margin-bottom: 0; /*mb0*/
    margin-top: 0; /*mt0*/
}

h1,
h2,
h3,
footer
{
    font-family: Georgia,"Times New Roman", serif; /*fft shortcut*/
}


h2
{
    color: #1976d2; /*c#19762d2 shortcut */
    text-shadow: 1px 1px #404040;
}
h3
{
    color: #003; /*c#003 shortcut*/
}


dt
{
    color: #002171; /*bgc#002171 shortcut */
}

footer
{
    background-color: #fff;/*bgc#fff*/
    font-size: 75%; /* fz75% shortcut */
    font-style: italic; /*fsi shortcut */
    margin-left: 190px; /*ml190*/
    padding: 2em;
    text-align: center; /*txa shortcut */
}

.resort
{
    color: #1976d2; /*c#19762d2 shortcut */
    font-weight: bold; /*fwb*/
}

#contact 
{
    font-size: 90%;
}
#homehero
{
    background-image: url(images/coast2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; /*bgz100%100%*/
    height: 300px; /*h300 */
    margin-left: 190px; /*ml190*/
}
#yurthero
{
    background-image: url(images/yurt.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; /*bgz100%100%*/
    height: 300px; /*h300 */
    margin-left: 190px; /*ml190*/

}
#trailhero
{
    background-image: url(images/trail.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; /*bgz100%100%*/
    height: 300px; /*h300 */
    margin-left: 190px; /*ml190*/

}



    
