* {
  box-sizing: border-box; /*bxbb shortcut*/
}

body {
  background-color: #eaeaea; /*bgc#90c7e3 shortcut */
  color: #555; /*c#fff shortcut*/
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa shortcut */
}
#wrapper {
  background-color: #90c7e3;
  background-image: linear-gradient(to bottom, #fff, #90c7e3);
}
header {
  background-color: #08082c; /*bgc#002171 shortcut */
  background-image: url(images/sunset.jpg); /*bgi shortcut*/
  background-position: right; /*bgdp shortcut*/
  background-repeat: no-repeat; /*bgr shortcut*/
  background-size: contain;
  color: #fff; /*c#fff shortcut*/
  padding: 0.5em;
  text-align: center; /*tac*/
}

header a {
  text-decoration: none; /*tdn*/
}

header a:link,
header a:visited {
  color: #fff;
}

header a:hover {
  color: #90c7e3;
}

nav {
  /*font-size: 120%*/
  font-weight: bold;
  padding: 0;
  text-align: center; /*tac*/
}

main {
  background-color: #fff; /*bfc#fff*/
  padding: 1px 20px 20px 30px;
  display: block;
  overflow: auto; /*ova*/
}

nav ul {
  font-size: 1.2em; /*fz1.2em*/
  list-style-type: none; /*listn*/
  margin: 0; /*m*/
  padding-left: 0; /*pl0*/
}

nav li {
  border-bottom: 1px solid #002171; /*bdb1-solid-#002171*/
}

nav a {
  text-decoration: none; /*txd shortcut*/
  transition: color 3s ease-out;
}

nav a:link {
  color: #5c7fa3;
}

nav a:visited {
  color: #344874;
}

nav a:hover {
  color: #a52a2a;
}

h1 {
  /* font-size: 3em; fz3em */
  letter-spacing: 0.25em; /* lts.25em*/
  margin-bottom: 0.5em; /*mb0*/
  margin-top: 0.5em; /*mt0*/
}

h1,
h2,
h3,
footer {
  font-family: Georgia, "Times New Roman", serif; /*fft shortcut*/
}

h2 {
  color: #1976d2; /*c#19762d2 shortcut */
  text-shadow: 1px 1px #404040;
}
h3 {
  color: #003; /*c#003 shortcut*/
}

dt {
  color: #002171; /*bgc#002171 shortcut */
}

footer {
  background-color: #fff; /*bgc#fff*/
  font-size: 75%; /* fz75% shortcut */
  font-style: italic; /*fsi shortcut */
  padding: 2em;
  text-align: center; /*txa shortcut */
}

.resort {
  color: #1976d2; /*c#19762d2 shortcut */
  font-weight: bold; /*fwb*/
}

#contact {
  font-size: 90%;
}
#homehero {
  background-image: url(images/coast2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; /*bgz100%100%*/
  height: 300px; /*h300 */
}
#yurthero {
  background-image: url(images/yurt.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; /*bgz100%100%*/
  height: 300px; /*h300 */
}
#trailhero {
  background-image: url(images/trail.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; /*bgz100%100%*/
  height: 300px; /*h300 */
}

table {
  border-bottom: 1px solid #1976d2;
  border-collapse: separate;
}

td,
th {
  padding: 0.5em;
  /* border: solid -2px #39c; */
}
th {
  background-color: #1976d2;
  color: #fff;
}
td {
  text-align: center; /*tac*/
}

.text {
  text-align: left; /*ta: l*/
}

tr:nth-last-of-type(odd) {
  background-color: #ffcd6f;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

input,
textarea {
  margin-bottom: 0.5em;
}

input[type="submit"] {
  grid-column: 2/3;
  width: 9em;
}
#gallery {
  grid-template-columns: repeat(2, 1fr);
}

video {
  float: right;
  margin: 1em;
}

#gallery {
  display: grid;
  gap: 2em;
}
#gallery img {
  box-shadow: 10px 10px 10px #777;
  text-align: center;
  width: 100%;
}

@media (max-width: 600px) {
  header {
    background-image: none;
  }
  #home-hero,
  #yurt-hero,
  #trail-hero,
  #about-us-hero {
    background-size: cover;
  }
  #special table {
    display: block;
    border-bottom: none;
  }
  #special td,
  #special th {
    display: block;
  }
  #special thead {
    display: none;
  }

  td.package::before {
    content: "Package:";
  }
  td.description::before {
    content: "Description:";
  }
  td.nights::before {
    content: "Nights:";
  }
  td.cost::before {
    content: "Cost:";
  }
  td.package,
  td.description,
  td.nights,
  td.cost {
    padding-left: 35%;
    position: relative;
    text-align: left;
    font-size: 4vw;
  }
  td::before {
    position: absolute;
    top: 10px;
    left: 0.5em;
    font-weight: bold;
    color: #1976d2;
  }
  td:last-of-type {
    border-bottom: 2px solid #1b69b2;
  }
  #gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .column-half {
    width: 100%;
  }
  .flex {
    display: block;
  }
  .column-quarter {
    width: 100%;
  }
}
@media (min-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  nav li {
    border-bottom: none;
  }
  .flow {
    display: flex;
    flex-direction: row;
  }
  section {
    flex: 1;
    margin-right: 1em;
  }

  form {
    display: grid;
    grid-template-columns: 6em 1fr;
    gap: 1em;
    max-width: 30em;
    width: 60%;
  }
}

@media (max-width: 730px) {
  video {
    display: block;
    float: none;
    clear: both;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  #wrapper {
    margin: auto; /*m:a*/
    width: 80%;
    border: 1px solid #002171; /*bd1-solid-#000*/
    box-shadow: 3px 3px 3px #002171;
  }
  nav {
    text-align: left; /*ta:l*/
    padding-left: 1em; /*pl1em*/
  }
  @supports (display: grid) {
    nav ul {
      flex-direction: column;
      padding-top: 1em;
    }
    .hero {
      grid-area: hero;
    }
    header {
      grid-area: header;
    }
    nav {
      grid-area: nav;
    }
    main {
      grid-area: main;
    }
    #gallery {
      grid-area: gallery;
    }
    footer {
      grid-area: footer;
    }
    #wrapper {
      display: grid;
      grid-template:
        "header header"
        "nav hero"
        "nav main"
        "nav footer"
        / 180px 1fr;
    }
    #gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
